button {
  padding: 10px;
  border-radius: 5px;
}

.btn_rouge {
  background-color: #f44336;
  color: white;
  border: none;
  font-weight: bold;
}
.btn_bleue{
  background-color: #008CBA;
  color: white;
  border: none;
  font-weight: bold;
}
.btn_rouge_post {
  background-color: #f44336;
  color: white;
  border: none;
  font-weight: bold;
  margin: 5px;
}
.btn_gris_post {
  background-color: #6C767D;
  color: white;
  border: none;
  font-weight: bold;
  margin: 5px;
}
