.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 40px;
}
.aside_gauche {
  margin-left: 10px;
}
.aside_droite {
  margin-right: 10px;
}
.posts {
  display: grid;
  grid-row-gap: 30px;
}
.titre {
  color: #F44336;
}
