* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Montserrat";
}

*::selection {
  background: '#F44336';
}
body {
  background-color: #F0F2F5;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}

.erreur {
  color: red;
}