.active-button {
  background-color: #f44336;
  padding: 10px;
  color: white;
  border: none;
  font-weight: bold;
}

.form-container ul {
  display: flex;
}
.form-container li {
  padding: 10px;
}
.log-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.log-form input[type=submit] {
  padding: 10px;
  border-radius: 5px;
}

.btn_rouge {
  background-color: #f44336;
  color: white;
  border: none;
  font-weight: bold;
}
.btn_bleue{
  background-color: #008CBA;
  color: white;
  border: none;
  font-weight: bold;
}
label {
  margin-right: 20px;
  font-size: 15px;
}
input {
  margin: 10px 0;
}
input[type=text] {
  height: 30px;
  border: none;
  border-bottom: 1px solid red;
}
input[type=password] {
  height: 30px;
  border: none;
  border-bottom: 1px solid red;
}

.terms label {
  margin-left: 10px;;
}
.inscription-succes {
  margin-top: 5px;
  color: forestgreen;
}