.gauche {
  padding: 20px;
}
.droite {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0,0,0, .1);
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.gauche img {
  width: 300px;
}
.container {
  display: flex; /* contexte sur le parent */
  flex-direction: row; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
  transform: translateY(35vh);
  column-gap: 150px;
}
